@use "_variables" as var;

.list-body {
  height: 100%;
  display: flex;
  background: var.$white;
  padding: 1.5rem;
  flex-flow: column;
  border-radius: 0.5cm;
}
.list-title-div {
  height: auto;
  border-bottom: 1px solid rgb(0, 0, 0, 0.3);
  margin-bottom: 1rem;
}
.list-h2 {
  margin: 0;
  padding: 0;
  color: var.$black;
}
.list-filters-div {
  display: flex;
  gap: 0.5rem;
}
.list-filter-div {
  display: flex;
  padding: 0.25rem 1rem;
  width: auto;
  border: 1px solid var.$purple;
  border-radius: 0.5cm;
  justify-content: center;
  align-items: center;

  &:hover {
    cursor: pointer;
    background: var.$purple;
    .list-filter-span {
      color: var.$white;
    }
  }

  &.active {
    background: var.$purple;
    .list-filter-span {
      color: var.$white;
    }
  }
}
.list-filter-span {
  color: var.$purple;
}
.list-table-div {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column;
  margin-top: 3rem;
}
.list-table-titles-div {
  display: flex;
  width: 100%;
  height: 25px;
}
.list-table-title-div {
  display: flex;
  width: 100%;
  height: 100%;
}
.list-table-title-span {
  font-size: 18px;
  color: var.$black;
  font-weight: 600;
}

.list-table-datas-div {
  display: flex;
  width: 100%;
  height: 50px;
  align-items: center;

  &:hover {
    cursor: pointer;
    background: var.$purple-table;
  }
}
.list-table-data-div {
  display: flex;
  width: 100%;
  height: auto;
}
.list-table-data-span {
  font-size: 16px;
  color: var.$black;
}
.list-table-data-range {
  width: 75px;
  height: 20px;
  border-radius: 0.5cm;

  &.red {
    background: var.$red;
  }
  &.yellow {
    background: var.$yellow;
  }
  &.green {
    background: var.$green;
  }
}
